#navbarNav{
    margin-left: 900px;
}
.sectionabt{
    text-align: center;
    margin-top: 100px;

}
.sectionabt{
    color: blue;
}
.col-sm-4{
    color:blue;
    /* color: #000; */
}
body{
    color: blue !important;
}
.mt-4{
    border-radius: 5px;
    height: 35px;
}
h1{
    text-decoration: underline;
    text-transform: uppercase;
}
#skills{
    text-align: center;
}
#listItems{
    /* text-align: center; */
    list-style-type: none;
    

}